body {
    padding-top: 0;
}

.drawerImg {
    mask-image: linear-gradient(to bottom, transparent 5%, black 50%);
}

.flag {
    mask-image: linear-gradient(to left, transparent 10%, black 70%);
}

@-webkit-keyframes scale-down-center {
    0% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}
@keyframes scale-down-center {
    0% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

.scale-down-center {
    -webkit-animation: scale-down-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-down-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
